body {
    background-image: url("https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-433673.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    padding-top: 80px;
}

.brand{
  height: 35px;
}

.navbar {
  margin-bottom: 30px;
}

.navbar.navbar-dark form input[type=text]:focus:not([readonly]) {
    border-color: white;
    box-shadow: none;
 }

.navbar .navbar-nav .nav-item .dropdown-menu a:hover {
  background-color: #82B1FF;
}

#navbarNav .mr-auto:nth-child(2) {
  width: 50%;
}

.navbar-search, .navbar-search input[type=text] {
  width: 100%;
}

.login {
	max-width: 450px;
	margin: 0 auto;
}

.signup {
	max-width: 550px;
	margin: 0 auto;
}

.liste {
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}

button {
	margin: 0px !important;
}

.btn {
	margin: 0px !important;
}

.card-spacing {
  margin-top : 10px;
  margin-bottom : 10px;
}

.text-title {
  text-align: center;
  background-color: #82B1FF;
  color: white;
}

.table-icon {
  max-height: 50px;
  width: auto;
}

.logo-itunes {
  width: 100px;
}

table.table th, table.table td {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

.audio-player {
  width: 100%;
}

.btn-space-between {
  margin-left: 10px !important;
}