body {
    background-color: #f1f1f1;
}

.navbar {
	margin-bottom: 2em;
	background-color: #990000;
}

.navbar.navbar-dark form input[type=text]:focus:not([readonly]) {
    border-color: white;
    box-shadow: none;
 }

.navbar .navbar-nav .nav-item .dropdown-menu a:hover {
  background-color: #c70000;
}

#navbarNav .mr-auto:nth-child(2) {
  width: 50%;
}

.navbar-search, .navbar-search input[type=text] {
  width: 100%;
}

.login {
	max-width: 450px;
	margin: 0 auto;
}

.signup {
	max-width: 550px;
	margin: 0 auto;
}

.btn {
	background-color: #990000;
}

.liste {
	background-color: #fff;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 5px;
}